In [2]:
import numpy as np
import pandas as pd
import openpyxl

In [7]:
#1. Input parameter einlesen
pl = pd.read_excel('pl_winter.xlsx', sheet_name='pL')
PTDF_PBPK = pd.read_excel('pl_winter.xlsx', sheet_name='PTDF_PBPK')
PTDF_PBPK.head()

,l,b,1,2,3,4,5,6,7,8,...,87,88,89,90,91,92,93,94,95,96
0,1,2,-0.999628,-0.999631,-0.999640,-0.999642,-0.999645,-0.999646,-0.999645,-0.999646,...,-0.999555,-0.999568,-0.999579,-0.999590,-0.999602,-0.999610,-0.999615,-0.999623,-0.999633,-0.999644
1,1,3,-0.989897,-0.989983,-0.990179,-0.990237,-0.990305,-0.990321,-0.990302,-0.990333,...,-0.988181,-0.988493,-0.988755,-0.989025,-0.989287,-0.989478,-0.989599,-0.989784,-0.990023,-0.990286
2,1,4,-0.985001,-0.985127,-0.985415,-0.985500,-0.985600,-0.985623,-0.985596,-0.985640,...,-0.982488,-0.982944,-0.983328,-0.983724,-0.984107,-0.984387,-0.984564,-0.984835,-0.985186,-0.985572
3,1,5,-0.980313,-0.980477,-0.980854,-0.980965,-0.981096,-0.981127,-0.981091,-0.981149,...,-0.977027,-0.977622,-0.978125,-0.978642,-0.979143,-0.979509,-0.979740,-0.980095,-0.980555,-0.981060
4,1,6,-0.970817,-0.971059,-0.971615,-0.971779,-0.971972,-0.972017,-0.971964,-0.972050,...,-0.965983,-0.966858,-0.967596,-0.968357,-0.969094,-0.969633,-0.969974,-0.970497,-0.971174,-0.971919

In [ ]:
#2. Berechnung der resultierenden Power flows
#PF_result = pd.DataFrame()

def PF_result(s, l, t):
    ABC = result[(result['s'] == s) & (result['t'] == t)]['ABC']
    PTDF_PBPK = dataframe_PTDF_PBPK[(dataframe_PTDF_PBPK['l'] == l) & (dataframe_PTDF_PBPK['t'] == t)]['PTDF_PBPK']
    return (pl[l][t] + sum(ABC * PTDF_PBPK) * 1000000) / 1000000