In [37]:
import numpy as np
import pandas as pd
import openpyxl

# Lese die Excel-Datei mit dem Profil, welches varriert werden soll ein

df_profil = pd.read_excel("profil_winter.xlsx")
#df_profil = pd.read_excel("profil_spring.xlsx")
#df_profil = pd.read_excel("profil_summer.xlsx")
#df_profil = pd.read_excel("profil_fall.xlsx")

# Erstelle ein leeres Pandas-DataFrame für die Ergebnisse
results = pd.DataFrame()

# Für jedes Szenario:   
for i in range(1000):
    # Erstelle ein Array mit normalverteilten Zufallsvariablen für jeden Bus und Jahreszeit
    random_variables = np.random.normal(0, 0.010, (len(df_profil), 1))
    
    # Berechne die Summe der Zufallsvariablen
    sum_random_variables = sum(random_variables)
       
    # Berechne den Faktor, um den jede Zufallsvariable angepasst werden muss, damit die Summe 0 ergibt
    factor = -sum_random_variables / len(random_variables)

    # Passe jede Zufallsvariable an, indem der Faktor multipliziert wird
    random_variables_adjusted = random_variables + factor

    # Die gewünschte Toleranz weil die Berechnung von Gleitkommazahlen ungenau ist und somit die Summe der angepassten Zufallszahlen minimal von 0 abweichen kann
    tolerance = 1e-10

    # Prüfe, ob die Summe der angepassten Zufallsvariablen innerhalb der Toleranz ist
    assert np.allclose(np.sum(random_variables_adjusted, axis=0), 0, atol=tolerance)
    
    # Füge die Zufallsvariablen den profilparametern hinzu
    df_varied = df_profil.iloc[:, 1:] + random_variables_adjusted

    # Setze die Spaltenüberschriften auf "Scenario i"
    df_varied.columns = ["S{}".format(i+1)]
    
    # Füge die veränderten Lastparameter dem DataFrame der Ergebnisse hinzu
    results = pd.concat([results, df_varied], axis=1)
#    results_T = results.T    
      
# Speichere das DataFrame der Ergebnisse in einer Excel-Datei
#results.to_excel("Ergebnisse_2.xlsx", index=False)
#results_T.to_excel("Ergebnisse.xlsx", index=False)
results.head()

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,...,S991,S992,S993,S994,S995,S996,S997,S998,S999,S1000
0,0.720068,0.701400,0.706616,0.705554,0.686279,0.711723,0.722039,0.699083,0.710986,0.714544,...,0.699106,0.688267,0.698332,0.689268,0.711321,0.714972,0.708490,0.709454,0.705895,0.714344
1,0.688717,0.694841,0.701212,0.704683,0.717788,0.710258,0.702914,0.684617,0.687544,0.687974,...,0.685283,0.703339,0.692582,0.691698,0.704675,0.703621,0.698139,0.705153,0.693628,0.709668
2,0.691087,0.683846,0.713460,0.693485,0.689545,0.680507,0.698359,0.688054,0.703481,0.691358,...,0.687688,0.684062,0.703580,0.691549,0.692062,0.683940,0.692524,0.681161,0.679940,0.692785
3,0.668332,0.709438,0.686842,0.689763,0.697541,0.686074,0.660670,0.675587,0.682324,0.687354,...,0.695989,0.682354,0.685255,0.699355,0.672409,0.686703,0.705944,0.672943,0.683465,0.697150
4,0.687013,0.675351,0.681820,0.675389,0.683010,0.688106,0.689180,0.688681,0.693291,0.699371,...,0.677601,0.674462,0.681289,0.674502,0.699618,0.678623,0.690211,0.689640,0.681198,0.699338

In [38]:
# initialisiere input ('r in open() is for read')

#df_load_bus = pd.DataFrame()
#df_load_variation = pd.DataFrame()
#df_load_deviation = pd.DataFrame()

# Berechne normales Profil load_profil
load_bus = pd.read_excel('load_bus_winter.xlsx')
#load_bus = pd.read_excel('load_bus_spring.xlsx')
#load_bus = pd.read_excel('load_bus_summer.xlsx')
#load_bus = pd.read_excel('load_bus_fall.xlsx')

load_profil = pd.DataFrame(columns=['b'] + ['t'+str(i) for i in range(1,97)])
load_profil['b'] = load_bus['b']
for i in range(1,97):
    load_profil['t'+str(i)] = df_profil['profil'][i-1] * load_bus['Active demand']

                                       
load_profil.head()
#load_profil.to_excel("check.xlsx", index=False)

,b,t1,t2,t3,t4,t5,t6,t7,t8,t9,...,t87,t88,t89,t90,t91,t92,t93,t94,t95,t96
0,1,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,0.070463,0.070,0.068942,0.068633,0.068266,0.068180,0.068280,0.068118,0.067690,...,0.079814,0.078102,0.076665,0.075190,0.073766,0.072729,0.072075,0.071074,0.069782,0.068366
2,3,0.063417,0.063,0.062048,0.061769,0.061440,0.061362,0.061452,0.061307,0.060921,...,0.071833,0.070292,0.068998,0.067671,0.066389,0.065457,0.064868,0.063967,0.062804,0.061529
3,4,0.084556,0.084,0.082731,0.082359,0.081920,0.081816,0.081936,0.081742,0.081229,...,0.095777,0.093723,0.091998,0.090228,0.088519,0.087275,0.086490,0.085289,0.083738,0.082039
4,5,0.042278,0.042,0.041365,0.041180,0.040960,0.040908,0.040968,0.040871,0.040614,...,0.047889,0.046861,0.045999,0.045114,0.044259,0.043638,0.043245,0.042644,0.041869,0.041020

In [39]:
# Berechne die Lastabweichungen zum normalen Profil df_profil
load_variation = pd.DataFrame()

# Iteration über alle Szenarien
for scenario in results.columns:
    results[scenario] = results[scenario].fillna(0)
    load_variation_scenario = pd.DataFrame(columns=['Scenario','b'] + ['t'+ str(i) for i in range(1,97)])
    load_variation_scenario['Scenario'] = [scenario]*33
    load_variation_scenario['b'] = load_bus['b']
    for i in range(1,97):
        load_variation_scenario['t'+ str(i)] = results[scenario][i-1] * load_bus['Active demand'] - load_profil['t'+str(i)]
#        load_variation_scenario.subtract(load_profil)
    load_variation = pd.concat([load_variation,load_variation_scenario], ignore_index=True )
    
# umbennenung für Kompatibilität mit Gams   
load_variation.rename(columns={'t'+str(i): str(i) for i in range(1,97)}, inplace=True)
    
#load_variation.head()
load_variation.to_excel("Data.xlsx", index=False)