In [1]:
import numpy as np
import pandas as pd
import openpyxl

# Lese die Excel-Datei mit dem Profil, welches varriert werden soll ein
#df_profil = pd.read_csv("profil_winter.csv")
df_profil = pd.read_excel("profil_winter.xlsx")

# Erstelle ein leeres Pandas-DataFrame für die Ergebnisse
results = pd.DataFrame()

# Für jedes Szenario:   
for i in range(1000):
    # Erstelle ein Array mit normalverteilten Zufallsvariablen für jeden Bus und Jahreszeit
    random_variables = np.random.normal(0, 0.005, (len(df_profil), 1))
    
    # Berechne die Summe der Zufallsvariablen
    sum_random_variables = sum(random_variables)
       
    # Berechne den Faktor, um den jede Zufallsvariable angepasst werden muss, damit die Summe 0 ergibt
    factor = -sum_random_variables / len(random_variables)

    # Passe jede Zufallsvariable an, indem der Faktor multipliziert wird
    random_variables_adjusted = random_variables + factor

    # Die gewünschte Toleranz weil die Berechnung von Gleitkommazahlen ungenau ist und somit die Summe der angepassten Zufallszahlen minimal von 0 abweichen kann
    tolerance = 1e-10

    # Prüfe, ob die Summe der angepassten Zufallsvariablen innerhalb der Toleranz ist
    assert np.allclose(np.sum(random_variables_adjusted, axis=0), 0, atol=tolerance)
    
    # Füge die Zufallsvariablen den profilparametern hinzu
    df_varied = df_profil.iloc[:, 1:] + random_variables_adjusted

    # Setze die Spaltenüberschriften auf "Scenario i"
    df_varied.columns = ["S{}".format(i+1)]
    
    # Füge die veränderten Lastparameter dem DataFrame der Ergebnisse hinzu
    results = pd.concat([results, df_varied], axis=1)
#    results_T = results.T    
      
# Speichere das DataFrame der Ergebnisse in einer Excel-Datei
#results.to_excel("Ergebnisse_2.xlsx", index=False)
#results_T.to_excel("Ergebnisse.xlsx", index=False)
results.head()

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,...,S991,S992,S993,S994,S995,S996,S997,S998,S999,S1000
0,0.701309,0.704319,0.710514,0.702504,0.708408,0.704180,0.701628,0.708751,0.698806,0.700450,...,0.702554,0.715052,0.701614,0.699544,0.704913,0.706793,0.711249,0.710208,0.704309,0.709495
1,0.697920,0.705447,0.701831,0.691196,0.696776,0.700716,0.685950,0.696234,0.696157,0.706130,...,0.701988,0.701414,0.707269,0.694345,0.710024,0.696766,0.691479,0.698340,0.706885,0.703162
2,0.689235,0.688448,0.690804,0.684531,0.687629,0.688676,0.684004,0.687756,0.689810,0.683766,...,0.696566,0.692500,0.693668,0.681452,0.690572,0.689210,0.690091,0.687566,0.687948,0.683344
3,0.689235,0.687163,0.682605,0.685387,0.690896,0.683858,0.686396,0.682824,0.695901,0.683623,...,0.686006,0.697599,0.688449,0.685393,0.683091,0.686620,0.691618,0.688343,0.682369,0.689638
4,0.681642,0.683264,0.681204,0.680733,0.680228,0.686207,0.681812,0.677326,0.689915,0.677459,...,0.685817,0.682278,0.679290,0.687401,0.684025,0.687733,0.684665,0.676330,0.681589,0.682925

In [2]:
# initialisiere input ('r in open() is for read')

#df_load_bus = pd.DataFrame()
#df_load_variation = pd.DataFrame()
#df_load_deviation = pd.DataFrame()

# Berechne die Lastabweichungen zum normalen Profil df_profil
load_bus = pd.read_excel('load_bus_winter.xlsx')

load_profil = pd.DataFrame(columns=['b'] + ['t'+str(i) for i in range(1,97)])
load_profil['b'] = load_bus['b']
for i in range(1,97):
    load_profil['t'+str(i)] = df_profil['profil'][i-1] * load_bus['Active demand']

                                       
load_profil.head()
#load_profil.to_excel("check.xlsx", index=False)

,b,t1,t2,t3,t4,t5,t6,t7,t8,t9,...,t87,t88,t89,t90,t91,t92,t93,t94,t95,t96
0,1,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,0.070463,0.070,0.068942,0.068633,0.068266,0.068180,0.068280,0.068118,0.067690,...,0.079814,0.078102,0.076665,0.075190,0.073766,0.072729,0.072075,0.071074,0.069782,0.068366
2,3,0.063417,0.063,0.062048,0.061769,0.061440,0.061362,0.061452,0.061307,0.060921,...,0.071833,0.070292,0.068998,0.067671,0.066389,0.065457,0.064868,0.063967,0.062804,0.061529
3,4,0.084556,0.084,0.082731,0.082359,0.081920,0.081816,0.081936,0.081742,0.081229,...,0.095777,0.093723,0.091998,0.090228,0.088519,0.087275,0.086490,0.085289,0.083738,0.082039
4,5,0.042278,0.042,0.041365,0.041180,0.040960,0.040908,0.040968,0.040871,0.040614,...,0.047889,0.046861,0.045999,0.045114,0.044259,0.043638,0.043245,0.042644,0.041869,0.041020

In [40]:
#load_variation = pd.DataFrame(columns=['Scenario','b'] + ['t'+str(i) for i in range(1,97)])
#load_variation['b'] = load_bus['b']
load_variation = pd.DataFrame()

# Iteration über alle Szenarien
for scenario in results.columns:
    results[scenario] = results[scenario].fillna(0)
    load_variation_scenario = pd.DataFrame(columns=['Scenario','b'] + ['t'+ str(i) for i in range(1,97)])
    load_variation_scenario['Scenario'] = [scenario]*33
    load_variation_scenario['b'] = load_bus['b']
    for i in range(1,97):
        load_variation_scenario['t'+ str(i)] = results[scenario][i-1] * load_bus['Active demand'] - load_profil['t'+str(i)]
#        load_variation_scenario.subtract(load_profil)
    load_variation = pd.concat([load_variation,load_variation_scenario], ignore_index=True )
    
# umbennenung für Kompatibilität mit Gams   
load_variation.rename(columns={'t'+str(i): str(i) for i in range(1,97)}, inplace=True)
    
load_variation.head()
load_variation.to_excel("check.xlsx", index=False)

,Scenario,b,1,2,3,4,5,6,7,8,...,87,88,89,90,91,92,93,94,95,96
0,S1,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,S1,2,-0.000332,-0.000208,-0.000019,0.000291,-0.000102,0.000438,0.000287,-0.001072,...,0.000692,-0.000325,0.000045,0.000680,-0.000322,-0.000190,0.000189,0.000049,-0.000301,0.000015
2,S1,3,-0.000299,-0.000187,-0.000017,0.000262,-0.000092,0.000394,0.000259,-0.000965,...,0.000623,-0.000293,0.000041,0.000612,-0.000289,-0.000171,0.000170,0.000044,-0.000271,0.000013
3,S1,4,-0.000399,-0.000250,-0.000022,0.000349,-0.000123,0.000526,0.000345,-0.001287,...,0.000831,-0.000390,0.000054,0.000816,-0.000386,-0.000228,0.000227,0.000059,-0.000361,0.000018
4,S1,5,-0.000199,-0.000125,-0.000011,0.000175,-0.000061,0.000263,0.000172,-0.000643,...,0.000415,-0.000195,0.000027,0.000408,-0.000193,-0.000114,0.000114,0.000029,-0.000181,0.000009